:root {
  --color1: 30 30 30;
}

/* main */

.big-table {
  font-size: 0.9rem;
  border: none;
  border-collapse: collapse;
  color: #ddd;
  padding: 10px;
  width: 80%;
  line-height: 2.2;
}

.big-table th,
.big-table tr,
.big-table td {
  text-align: center;
  border: none;
  white-space: nowrap;
  min-width: 100px;
  border-bottom: 1px solid #ddd;

}

/* 
Syntax example to have specific styles not apply 
.big-table th:not(:last-child),
.big-table td:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
*/

.button-as-text {
  display: inline;
  font-size: 0.9rem;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button-as-text:hover {
  font-weight: bold;
}
