:root {
    --color1: hsl(0, 0%, 15%); /* is 30 30 30 rgb */
    --colorX: hsl(0, 0%, 25%);
    --text-primary: hsl(26, 18%, 43%);
    --psl: hsl(18, 100%, 50%);
    --backgroundHue1: 0;
    --sideBarWidth: 15%;
}

.chatMain {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sideBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    width: var(--sideBarWidth);
}

.sideBar_sub1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    width: 100%;
    max-height: 55vh;
    overflow: auto;
}

.chatElementDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
    max-height: 500px;
    overflow-y: auto;
    line-height: 1;
    border-radius: 8px;
    margin-bottom: 10px;
}

.middleBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 60vh;
    overflow: none;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.messagesArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(2, 2, 2);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.messagesArea > div {
    margin-bottom: 10px;
}

.nameAndTime {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.messageFlexStart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(15, 15, 15);
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.timeStamp {
    font-size: small;
    color: var(--text-annotation);
    text-align: left;
    min-width: 40px;
    flex: 0 0 auto;
}

.author {
    font-size: medium;
    font-weight: bold;
    color: var(--text-primary);
    text-align: left;
    margin-right: 10px;
}

.content {
    font-size: medium;
    color: var(--text-primary);
    text-align: left;
    text-wrap: wrap;
}

.sendButton {
    background-color: transparent;
    height: 30px;
}

.inputDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 40px;
    width: 100%;
    border: none;
}

.textInput {
    height: 100%;
    min-height: 35px;
    width: 100%;
    min-width: 100%px;
    font-size: medium;
    background-color: rgb(15, 15, 15);
    border: none;
    outline: none;
}

.textInput::placeholder {
    color: var(--text-primary);
    font-style: italic;
}

.chatButton,
.chatButtonSelected {
    --lightnessOffset: -100%;

    font-size: medium;
    color: var(--text-primary);
    background-color: hsl(var(--backgroundHue1), 0%, calc(5% + var(--lightnessOffset)));
    padding: 10px 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    transition: all 0.25s ease;

    &:hover {
        --lightnessOffset: +3%;
    }
}

.chatButtonSelected {
    color: var(--psl);
    --lightnessOffset: +3%;
}

.chatUserListContainer {
    max-height: 600px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.chatUserTable {
    width: 100%;
    line-height: 1.8;
    border: 0px;
    border-collapse: collapse;
}

.chatUserTable tr:hover {
    background-color: rgb(15, 15, 15);
}

.chatSearchBox {
    padding: 5px;
    line-height: 2;
    margin-bottom: 10px;
}

.chatMemberTable {
    width: 100%;
    line-height: 1.2;
    font-size: 0.8rem;
    border: 0px;
    border-collapse: collapse;
}

.chatModal {
    position: fixed;
    top: 200px;
    left: 50%;
    box-sizing: content-box;
    transform: translateX(-50%);
    padding: 1rem 3rem;
    background-color: black;
    width: 400px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.1);
    animation: fadeIn 1s ease both;
    max-height: 1000px;
    overflow-y: auto;
}

.chatModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.smallTextDiv {
    font-size: small;
    font-style: italic;
    text-align: right;
    color: var(--colorX);
    white-space: nowrap;
}

.sideBarDivider {
    width: 100%;
    color: var(--text-primary);
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: var(--text-primary);
}

.leftBarButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

/* Right Bar */

.memberOptionsButtonsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap: 5px;
}
