:root {
    --color1: 30 30 30;
    --color2: 60 60 60;
    --text-primary: hsl(26, 18%, 43%);
}

.chatMain {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.leftBar_0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    width: 10%;
}

.leftBar_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    width: 100%;
}

.middleBar_0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: rgb(255, 244, 240);
    width: 40%;
}

.middleBar_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(18, 64, 104);
    width: 100%;
}

.rightBar_0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: rgb(255, 244, 240);
    width: 10%;
}

.rightBar_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(18, 64, 104);
    width: 100%;
}

.chatButton,
.chatButtonSelected {
    font-size: 0.8rem;
    color: var(--text-primary);
    background: rgb(var(--color1));
    padding: 13px 25px;
    margin: 0px;
    width: 100%;
}

.chatButtonSelected {
    color: #fff;
    border: 1px solid #fff;
}
