:root {
  --color1: 30 30 30;
}

/* main */

.contacts-table {
  table-layout: fixed;
  font-size: 0.9rem;
  border: 0px solid;
  border-collapse: collapse;
  color: rgb(0, 0, 0);
  padding: 0px;
  border-spacing: 5px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  width: 100%;
  line-height: 1.2;
}
.contacts-table td {
  padding: 5px;
}

.contacts-table tr td:first-child {
  width: 200px;
}

.contacts-button {
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(205, 205, 205);
  margin: 3px;

  &:hover {
    transform: translateY(-2px);
  }
}

.contacts-button-positive {
	width: 30px;
	height: 30px;
	text-align: center;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	background-color: rgb(20, 220, 20);
	margin: 3px;
  
	&:hover {
	  transform: translateY(-2px);
	}
  }
