.game-sections-container {
    height: 100vh;
    width: 100vw;
    display: inline-grid;
    grid-template:  1fr 1fr 1fr 4fr 1fr /
    1fr 1fr 4fr 1fr 1fr;
    background-color: #E1F4CB;

}

.game-score {
    background-color: #3F4739;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.playbutton {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3ca06c;
    /* border: none; */
}

.game-left-bar {
    background-color: #3F4739;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.game-center {
    background-color: #3F4739;
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

.game-right-bar {
    background-color: #3F4739;
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.left-bar {
    width: 20px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    margin-left: 108px;
    background-color: #BACBA9; /* Background color of the bar */
    position: absolute;
    top: 50%; /* Center the bar vertically */
    transform: translateY(-50%);
    border-radius: 30%;
}

.right-bar {
    width: 20px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    margin-left: 1060px;
    background-color: #BACBA9; /* Background color of the bar */
    position: absolute;
    top: 60%; /* Center the bar vertically */
    transform: translateY(-50%);
    border-radius: 30%;
}

.ball {
    background-color: #E1F4CB;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.baza {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-player{
    font-size: 28px;
}

.player-left-info {
        color: black;
        border: #3F4739;
        background-color: #3F4739;
        border-width: 1px;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        width: 100%; /* Adjust the width as needed */
}

.player-right-info {
    /* Position relative to header */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  
    /* Adjust grid position to right side */
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    width: 100%; /* Adjust the width as needed */
    color: black;
    border: #3F4739;
    background-color: #3F4739;
    border-width: 1px;
  }