.game-container {
	height: 70vh;
	width: 98vw;
	display: inline-grid;
	grid-template:  1fr 2fr 5fr / 9fr;
	background-color: black;
	margin: 1rem;
	padding: 1rem;
}

.default-color {
	background-color: #3F4739;
}

.alternative-color {
	background-color: darkblue;
}

.buttons-container {
	/* background-color: blue; */
	grid-row: 1 / 2;
	grid-column: 1 / 9;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;

}

.game-button {
	width: 200px;
	height: 40px;
	/* margin-top: 70px; */
	/* left: 50%; */
	/* transform: translateX(-50%); */
	background-color: #3ca06c;
	/* border: none; */
}

.info-container {
	/* background-color: red; */
	grid-row: 2 / 3;
	grid-column: 1 / 9;
	display: flex;
	flex-direction: row;
}

.info-player-left {
	height: 100%;
	width: 35%;
	/* background-color: white; */
	border: 2px solid black;
}

.info-scores {
	height: 100%;
	width: 30%;
	/* background-color: yellowgreen; */
	border: 2px solid black;
}

.info-player-right {
	height: 100%;
	width: 35%;
	/* background-color: gray; */
	border: 2px solid black;
}

.pong-container {
	/* background-color: green; */
	grid-row: 3 / 8;
	grid-column: 1 / 9;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.left-plank {
	height: 100%;
	width: 2%;
	/* background-color: gray; */
	border: 2px solid black;
}

.right-plank {
	height: 100%;
	width: 2%;
	/* background-color: gray; */
	border: 2px solid black;
}