.game-sections-container {
    height: 100vh;
    width: 100vw;
    display: inline-grid;
    grid-template:  1fr 1fr 1fr 4fr 1fr /
                    1fr 1fr 4fr 1fr 1fr;
}

.game-score {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.game-left-bar {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.game-center {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

.game-right-bar {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.left-bar {
    width: 20px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    margin-left: 108px;
    background-color: cadetblue; /* Background color of the bar */
    position: absolute;
    top: 50%; /* Center the bar vertically */
    transform: translateY(-50%);
    border-radius: 30%;
}

.right-bar {
    width: 20px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    margin-left: 1275px;
    background-color: cadetblue; /* Background color of the bar */
    position: absolute;
    top: 50%; /* Center the bar vertically */
    transform: translateY(-50%);
    border-radius: 30%;
}

