#leaderboard-center {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-column: 1 / 7;
    grid-row: 2 / 6;
}

table, th, td {
    border: 1px solid;
    /*border-collapse: collapse;*/
}

th,td {
    padding: 0.5rem;
}

td {
    text-align: start;
}
