:root {
  --color1: 30 30 30;
}

/* main */

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 3rem;
  color: #000000;
  background: rgb(255, 255, 255);
  width: 400px;
  height: 647px;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.35);
  animation: fadeIn 1s ease both;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-h2 {
  font-weight: 600;
  font-size: 2rem;
  margin: 2rem 0rem 1.2rem 0rem;
}

.modal-p {
  display: flex;
  flex-direction: row;
  align-items: top;

  font-size: 1rem;
  line-height: 1.3rem;
}

.modal-table {
  table-layout: fixed;
  font-size: 0.9rem;
  border: 0px solid;
  border-collapse: collapse;
  color: rgb(0, 0, 0);
  padding: 0px;
  border-spacing: 5px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  width: 100%;
  line-height: 2.2;
}

.modal-expander {
  min-width: 30px;
  color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px 30px 0px -30px;
}

.modal-table-div {
  display: flex;
  flex-direction: column;
  align-items: end;
}
/* images */

.modal-avatar {
  width: 210px;
  height: 210px;
  object-fit: contain;
  object-position: center center;
  border-radius: 17px;
}

/* buttons */

.modal-button-close {
  border: none;
  background: none;
  position: absolute;
  text-align: center;
  top: 15px;
  right: 10px;
  transition: transform 0.1s;
  cursor: pointer;
  transform-origin: center;

  &:hover {
    transform: scale(1.3);
  }
}

.modal-button-big {
  display: inline-block;
  font-size: 0.8rem;
  color: #fff;
  background: rgb(var(--color1));
  padding: 13px 25px;
  margin: 10px;
  border-radius: 17px;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  transition: all 0.25s ease;
  border: 0;
  cursor: pointer;
  box-shadow: 0 10px 20px -10px rgb(var(--color1) / 50%);

  &:hover {
    box-shadow: 0 20px 20px -10px rgb(var(--color1) / 50%);
    transform: translateY(-2px);
  }
}

.modal-button-edit {
  border: none;
  cursor: pointer;
  color: #9a9a9a;
  font-size: 1.3rem;
  border-radius: 50%;
  background: white;

  &:hover {
    transform: scale(1.1);
  }
}

/* tabs */

.modal-tabs-container {
  width: 100%;
  margin: 35px 0 0 0;
}

.modal-tab-buttons {
  padding: 0px 0px 0px 10px;
}

.modal-tab-button_active {
  border-radius: 13px 13px 0px 0px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  background: #eeeeee;
  padding: 13px 25px;
  margin: 0px 0px -2px 0px;
}

.modal-tab-button_inactive {
  border-radius: 13px 13px 0px 0px;
  border: none;
  border-color: #ddd;
  font-size: 1rem;
  color: #c2c2c2;
  background: transparent;
  padding: 13px 25px;
  margin: 0px 0px -2px 0px;
}

.modal-tab-content {
  border-radius: 13px 13px 13px 13px;
  height: 180px;
  font-size: 1rem;
  color: black;
  background: #eeeeee;
  margin: 0px;
  padding: 20px;
  border: none;
  overflow-y: auto;
}
