:root {
    --color1: rgb(30, 30, 30);
    --color2: rgb(60, 60, 60);
    --text-primary: hsl(26, 18%, 43%);
}

/* main */

.modal2 {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 3rem;
    background-color: black;
    width: 400px;
    min-height: 400px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.1);
    animation: fadeIn 1s ease both;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}

.modal-avatar_playerCard {
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.3rem;
}

.modal-expander-hor {
    min-width: 30px;
    color: transparent;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    margin: 0px 35px 0px -35px;
}

.modal-table-div {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* images */

.modal-avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    border-radius: 17px;
}

.modalUserListContainer {
    max-height: 500px;
    overflow-y: auto;
}

.modalUserList,
.modalUserList tbody,
.modalUserList th,
.modalUserList tr,
.modalUserList td {
    width: 100%;
    table-layout: fixed;
    font-size: 0.9rem;
    border: 0px solid;
    border-collapse: collapse;
    color: var(--text-primary);
    padding: 0px;
    border-spacing: 5px;
    border-bottom: 1px solid var(--text-primary);
    text-align: left;
    line-height: 1.2;
}
.modalUserList td {
    padding: 5px;
    height: 30px;
}


.closeX {
    border: none;
    background: none;
    position: absolute;
    text-align: center;
    top: 15px;
    right: 10px;
    transition: transform 0.1s;
    cursor: pointer;
    transform-origin: center;

    &:hover {
        transform: scale(1.3);
    }
}

.contactsButton {
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(205, 205, 205, 0);
    margin: 5px;

    &:hover {
        transform: translateY(-2px);
    }
}
