:root {
  --color1: 30 30 30;
}

/* main */

.playerCard-table {
  table-layout: fixed;
  font-size: 0.9rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: rgb(0, 0, 0);
  padding: 0px;
  border-spacing: 5px;
  text-align: center;
  width: 100%;
  line-height: 2.2;
}

.playerCard-table td {
  border: none;
}
