:root {
    --color1: rgb(30, 30, 30);
    --color2: rgb(0, 0, 0);
    --text-primary: hsl(26, 18%, 43%);
}

.playerCardTable,
.playerCardTable td {
    table-layout: fixed;
    font-size: 0.9rem;
    border-radius: 10px;
    border: 0px solid var(--text-primary);
    color: var(--text-primary);
    padding: 0px;
    border-spacing: 5px;
    text-align: left;
    width: 100%;
    line-height: 1.5;
}

.playerCardTable td {
    border: none;
    width: 80px;
}
