:root {
    --color1: hsl(0, 0%, 12%); /* is 30 30 30 rgb */
    --color2: 60, 60, 60;
    --text-primary: hsl(26, 18%, 43%);
    --backgroundHue1: 0;
}

.socialActionBarMain {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}