:root {
    font-size: 16px;
    font-family: "system-ui", sans-serif;
    --text-primary: hsl(26, 18%, 43%);
    --text-secondary: black;
    --bg--primary: black;
    --bg--catalogue: white;

    background: var(--bg--primary);
    color: var(--text-primary);
}

.link {
    color: var(--text-primary);
}

body {
    margin: 23vh 0 0 0; /* Adjust the margin to match the height of the fixed header */
}

.sections-container {
    height: 100vh;
    width: 100vw;
}

.mainContainerRow,
.mainContainerColumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.mainContainerColumn {
	flex-direction: column;
}

.h2,
.h2Left {
    font-weight: 600;
    font-size: 2rem;
    margin: 2rem 0rem 1.2rem 0rem;
    text-align: center;
}

.h2Left {
    text-align: left;
}

.p,
.pCenter {
    font-size: 1rem;
    color: var(--text-primary);
    width: 100%;
}

.pCenter {
    text-align: center;
}

.bigCenterEmoji {
    font-size: 5rem;
    text-align: center;
}

.leftAligner {
    width: 100%;
    flex-direction: row;
    justify-content: start;
}
