:root {
    font-size: 16px;
    font-family: "system-ui", sans-serif;
    --text-primary: hsl(26, 18%, 43%);
    --text-secondary: black;
    --bg--primary: black;
    --bg--catalogue: white;

    background: var(--bg--primary);
    color: var(--text-primary);
}

.link {
    color: var(--text-primary);
}

.sections-container {
    height: 100vh;
    width: 100vw;
}

.h2,
.h2Left {
    font-weight: 600;
    font-size: 2rem;
    margin: 2rem 0rem 1.2rem 0rem;
    text-align: center;
}

.h2Left {
    text-align: left;
}

.p,
.pCenter {
    font-size: 1rem;
    color: var(--text-primary);
    width: 100%;
}

.pCenter {
    text-align: center;
}

.leftAligner {
    width: 100%;
    flex-direction: row;
    justify-content: start;
}
