:root {
    --color1: 30 30 30;
    --text-primary: hsl(26, 18%, 43%);
}

/* divs */
.table-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.tablesContainer {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 90vw;
}

/* tables */

.userTable,
.userTable th,
.userTable tr,
.userTable td {
    color: var(--text-primary);
    font-size: 0.9rem;
    padding: 10px;
    width: 80%;
    text-align: center;
    white-space: nowrap;
    line-height: 2.2;
    border: none;
    border-collapse: collapse;
    border-bottom: 1px solid var(--text-primary);
}
